<div class="starter-template">
    <h1>Group {{group_number}} </h1>
    <p>********************</p>
    {{#studentsByGroup}}
        <h3>{{firstName}} {{lastName}}</h3>
        <h3>age: {{age}}</h3>
        <h3>gender: {{gender}}</h3>
        <p>*************</p>
    {{/studentsByGroup}}
</div>